<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

h3 {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #A9C2CD;
}
</style>
<br><h2>Note: When using the 'Try Me!' button, you may have to resend the url if the page cannot be found or if data is showing as null</h2><br>
<br><h3>CRUD Endpoints: Items</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get '/api/v1/items'</td>
    <td>responds with all items currently in the database</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/items' %></td>
  </tr>
  <tr>
    <td>get '/api/v1/items/:id'</td>
    <td>responds with one item based on it's id</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/items/5' %></td>
  </tr>
  <tr>
    <td>post 'api/v1/items'</td>
    <td>creates an item in the database</td>
    <td>Try for Yourself!</td>
  </tr>
  <tr>
    <td>put 'api/v1/items/:id'</td>
    <td>updates an item in the database based on it's id</td>
    <td>Try for Yourself!</td>
  </tr>
  <tr>
    <td>delete 'api/v1/items/:id'</td>
    <td>deletes an item in the database based on it's id</td>
    <td>Try for Yourself!</td>
  </tr>
</table>
<br><h3>CRUD Endpoints: Merchants</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get '/api/v1/merchants'</td>
    <td>responds with all merchants currently in the database</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants' %></td>
  </tr>
  <tr>
    <td>get '/api/v1/merchants/:id'</td>
    <td>responds with one merchant based on it's id</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/25' %></td>
  </tr>
  <tr>
    <td>post 'api/v1/merchants'</td>
    <td>creates a merchant in the database</td>
    <td>Try for Yourself!</td>
  </tr>
  <tr>
    <td>put 'api/v1/merchants/:id'</td>
    <td>updates a merchant in the database based on it's id</td>
    <td>Try for Yourself!</td>
  </tr>
  <tr>
    <td>delete 'api/v1/merchants/:id'</td>
    <td>deletes a merchant in the database based on it's id</td>
    <td>Try for Yourself!</td>
  </tr>
</table>
<br><h3>Relation Endpoints: Items</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get '/api/v1/items/:id/merchant'</td>
    <td>responds with the merchant that sells the item with that id</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/items/25/merchant' %></td>
  </tr>
</table>
<br><h3>Relation Endpoints: Merchants</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get '/api/v1/merchants/:id/items'</td>
    <td>responds with a list of items sold by the merchant with that id</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/7/items' %></td>
  </tr>
</table>
<br><h3>Search Endpoints: Items</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get 'api/v1/items/find?:attribute=:value'</td>
    <td>responds with the item that has the same or similar :value for the specified :attribute</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/items/find?name=que' %></td>
  </tr>
  <tr>
    <td>get 'api/v1/items/find_all?:attribute=:value'</td>
    <td>responds with all items that have the same or similar :value for the specified :attribute</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/items/find_all?name=que' %></td>
  </tr>
</table>
<br><h3>Search Endpoints: Merchants</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get 'api/v1/merchants/find?name=Als+Toy+Barn'</td>
    <td>responds with the merchant that has the same or similar :value for the specified</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/find?name=con' %></td>
  </tr>
  <tr>
    <td>get 'api/v1/merchants/find_all?name=barn'</td>
    <td>responds with all merchants that have the same or similar :value for the specified :attribute</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/find_all?name=chr' %></td>
  </tr>
</table>
<br><h3>Business Endpoints:</h3><br>
<table>
  <tr>
    <th>Endpoint</th>
    <th>Description</th>
    <th>Try It Out!</th>
  </tr>
  <tr>
    <td>get 'api/v1/merchants/most_revenue?quantity=2'</td>
    <td>responds with a list of quantity size based on the merchants with the most revenue</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/most_revenue?quantity=2' %></td>
  </tr>
  <tr>
    <td>get 'api/v1/merchants/most_items?quantity=2'</td>
    <td>responds with a list of quantity size based on the merchants with the most items succsessfully sold</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/most_items?quantity=2' %></td>
  </tr>
  <tr>
    <td>get 'api/v1/revenue?start=2012-03-09&end=2012-03-24'</td>
    <td>responds with the total revenue earned by all merchants within the dates specified</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/revenue?start=2012-03-09&end=2012-03-24' %></td>
  </tr>
  <tr>
    <td>get 'api/v1/merchants/:id/revenue'</td>
    <td>responds with the total revenue of one merchant based on the id</td>
    <td><%= button_to 'Try Me!', 'https://rails-engine-lr.herokuapp.com/api/v1/merchants/5/revenue' %></td>
  </tr>
</table>
